*{
margin: 0;
padding: 0;
box-sizing: border-box;
background-color: #080808;
}


                            /*Navbar Starting*/


#nav-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: white;
    box-shadow: 2px 2px 10px 2px #7e7c7c , -5px -5px 10px -5px #7e7c7c;
}

#logo{
width: 10%;
height: 10%;
background: transparent;
}

#nav-links{
    list-style: none;
    display: flex;
    gap: 2rem;
    margin-top:3rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:bolder;
    font-size:larger;
}


#nav-links li:hover{
    color:aqua;
    cursor: pointer;
}

#login-btn{
   margin-top:2rem;
   margin-bottom:4rem;
   margin-right: 4rem; 
   padding: 0.7rem;
   background-color: white;
   font-family:Arial, Helvetica, sans-serif;
   color: rgb(2, 2, 165);
   font-weight: bolder;
   border-radius: 0.4rem;
}

#login-btn:hover{
   background-image: linear-gradient(rgb(169, 169, 172), rgb(40, 41, 41));
   cursor: pointer;
   color:aqua;
   transition:0.2s;
}

                              /*Navbar Ending*/



                              /*Hero Starting*/
#hero-container{
    width: 100%;
    margin-top: 1rem;
    display:flex;
    overflow: hidden;
}

#hero-wrapper{
    display:flex;
    width: 100%;
    animation:hero-slide 36s linear infinite;
}

@keyframes hero-slide{
    0%{
        transform: translateX(0%);
    }
    8%{
        transform: translateX(0%);
    }
    18%{
        transform: translateX(-100%);
    }
    27%{
        transform: translateX(-100%);
    }
    36%{
        transform: translateX(-200%);
    }
    45%{
        transform: translateX(-200%);
    }
    54%{
        transform: translateX(-300%);
    }
    63%{
        transform: translateX(-300%);
    }
    72%{
        transform: translateX(-400%);
    }
    81%{
        transform: translateX(-400%);
    }
    90%{
        transform: translateX(-500%);
    }
    100%{
        transform: translateX(-500%);
    }
}

.hero-pic{
    width: 100%;
}


                              /*Hero Ending*/


                            /*Calculator Starting*/


#calculator-container{
    margin-top: 1rem;
    width: 100%;
    box-shadow: 2px 0 0 0 #7e7c7c , -5px -5px 10px -5px #7e7c7c;
    text-align: center;
}

#calculator-container hr{
opacity: 0;
}

#calculator-box{
    width: 25%;
    background-color: #20293E;
    margin: auto;
    height:25rem;
    border-radius: 0.4rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
    box-shadow: 1.5px 1.5px 4px 4px #293553;
    /*position:relative;
   z-index:0;*/
}

/*#calculator-box::after{
    content:"";
    position:absolute;
    height:100%;
    width: 100%;
    background-color: red;
    top:50%;
    left:50%;
    translate: -50% -50%;
   z-index: -1;
  
}*/

#calculator-box h1{
    color:rgb(3, 142, 197);
    background-color:transparent;
    margin-bottom: 1.5rem;
    font-weight:bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#calculator-box form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;
    width: 20%;
    margin: auto;
    background-color: transparent;
}

#calculator-box form div{
    display: flex;
    justify-content: space-between;
    gap:1rem;
    background-color: transparent;
}

#calculator-box input, select,option{
    padding: 0.5rem;
    border-radius: 0.4rem;
    border: none;
   background-color:white;
}

input:hover, select:hover,button:hover{
    cursor: pointer;
}


#calculator-box input{
    background-color: #0D1729;
    box-shadow: inset 1px 1px 3px 3px #081329;
    color:white;
}

#calculator-box label{
    background-color: transparent;
    color:white;
    font-weight: bold;
}

#calculator-box button{
    padding: 0.5rem;
    border-radius: 0.4rem;
    height:2.5rem;
    width:8rem;
    border: none;
    overflow: hidden;
    background-color: rgb(230, 227, 227);
    font-weight: bolder;
    position:relative;
    z-index:1;
    box-shadow: 1px 1px 3px #c5c5c5,
    -1px -1px 6px #ffffff;
}

#calculator-box button::before{
content:"";
width:0;
height:2.5rem;
border-radius: 0.4rem;;
position: absolute;
top:0;
left:0;
background-image:linear-gradient(to right,green 0%,rgb(4, 206, 4) 100%);
transition:0.5s ease;
display:block;
z-index:-1;
}

#calculator-box button:hover::before{
    width:100%;
}

/*info display section*/

#display-bmi{
    margin-top: 3rem;
    color:white;
    font-size:xx-large;
}

#display-bmi span{
    font-size:large;
    color:rgb(243, 132, 5);
    margin-left:3px;
}


#diet-cards{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap:3rem;
}

.card-infos{
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    gap:5px;

}

.card-infos div{
    margin-left:5px;
    margin-right:5px;
    margin-top: 0.3rem;
    display: flex;
    justify-content: space-around;
    gap:8px;
}

.card-infos div span,.card-infos div,.card-infos, h3{
    background-color: transparent;
}

#left-card,#right-card{
 background-color: rgb(32, 32, 32);
 box-shadow:2px 2px 6px 5px rgb(61, 60, 60);
 border-radius: 0.5rem;
}


                            /*Calculator Ending*/


                            /*Reviews Starting*/


#review-head{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#upper-text{
    margin-bottom: -7rem;
    z-index:0;
    background: transparent;
}

#lower-text{
    margin-top:-5rem;
    background: transparent;
}


#review-head span{
    background-image: linear-gradient(to right,rgb(209, 209, 5),rgb(230, 227, 227));
    background-clip: text;
    -webkit-background-clip: text;
    color:transparent;
    font-size: 4rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;

}

#review-head img{
    width:30%;
    background: transparent;
}



/*review cards*/
#review-container{
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:2rem;
}   


.card{
    background-color: rgb(59, 59, 59);
    text-align: center;
    width:30%;
    border-radius: 1rem;
    box-shadow: 1px 1px 3px 2px rgb(165, 164, 164);
}

.card:hover{
cursor: text;
box-shadow: 1px 1px 3px 4px rgb(165, 164, 164);
}

.card img{
    padding:0.5rem;
    background-image:linear-gradient(to right, rgb(145, 124, 5), rgb(226, 226, 87),rgb(197, 168, 3));
    border-radius: 50%;
}

.card h5, .card p{
    background-color: transparent;  
}

.card h5{
    color:white;
    font-size: larger;
    font-weight: bolder;
    font-family:'Times New Roman', Times, serif;
}

.card p{
    color:rgb(206, 205, 205);
    font-weight: 800;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


                            /*Reviews Ending*/


                            /*Plan Starting*/


#plan-head{
    margin-top: 3rem;
    text-align: center;
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
}       

#plan-head div{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    border: 2px solid white;
    width:13%;
  padding:0.2rem;
  border-radius: 9999px;
}


#plan-head p{
    font-size: 3rem;
    font-weight: 800;
    color:rgb(206, 203, 203);

}

/*membership cards*/
#plan-container{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap:2rem;
    margin-bottom: 4rem;
}

.plan-card{
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:1rem;
    gap:0.7rem;
    border-radius: 1rem;
    box-shadow: 2px 2px 12px 3px rgb(196, 186, 174);
    transition: 0.4s ease;
}

.plan-card:hover{
    margin-top: -2rem;
    margin-bottom: 2rem;
box-shadow: 2px 2px 12px 1px rgb(196, 186, 174);
}

.plan-card h4, .plan-card p, .plan-card div, .plan-card span{
    background-color: transparent;
}

.plan-card h4{
    font-size: x-large;
    font-weight:bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.plan-card p span{
    color:rgb(25, 150, 199);
    font-size: 3rem;
    font-weight: bolder;
}


.plan-card p{
    font-weight:bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.plan-card p:first-of-type{
    font-weight: bold;
    font-size:large;
    margin-bottom: 2rem;
}

.plan-card div{
    margin-top: 2rem;
    color:rgb(80, 79, 79);
    font-weight: bold;
    text-align: center;
}

#trial-btn{
    color: white;
    background-color: #080808;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding:0.5rem;
    border-radius:9999px;
}

#trial-btn:hover{
    background-color: orangered;
    color:aqua;
    cursor: pointer;
    transition: 0.2s;
}


                            /*Plan Ending*/


                           /*Contact Starting*/
                       
                           
#contact-heading-container{
    width:100%;
    text-align:center;
    display:flex;
    justify-content:center;
}                          

#contact-heading{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color:rgb(212, 209, 209);
    border: 2px solid white;
    width:14%;
    padding:0.2rem;
    border-radius: 9999px;
    margin-bottom:3rem;
}



#faq-section div button, #faq-section div button span, #faq-section div p{
    background-color: white;
}

#faq-section{
    width:60%;
}

#faq-section div:not(.sm-icons){ /*excluding sm-icons div*/
    display: flex;
    flex-direction: column;
    gap:3px;
    width:100%;
    margin-left: 2rem;
}

#faq-section div button{
    padding:0.6rem;
    border-radius: 0.8rem;
    display: flex;
    justify-content: space-between;
    font-weight: bolder;
    font-size: medium;
    width:85%;
}

#faq-section div button:hover{
    background-color: #d3d2d2;
}

#faq-section div p{
    text-align: center;
    font-weight: bold;
    background-color: #080808;
    color: white;
    width:80%;
    line-height: 1.2rem;
    margin-bottom: 0.5rem;
}


/*Social Media Icons*/

/*import new images then do it*/


#faq-section h5{
    color:white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:bolder;
    font-size:xx-large;
    text-align:center;
    margin-top:3rem;

}

.sm-icons img{
  width:100%;
  height:100%;
  object-fit:contain;
  background:transparent;
}

.sm-icons{
margin-top:2rem;
display:flex;
align-items:center;
justify-content:center;
gap:5rem;
height:3rem;
width:90%;
margin-left:2rem;
}

.sm-icons span{
  width:2.5rem;
  height:2.5rem;

  background-image:linear-gradient(30deg, white,rgb(172, 168, 168),white);
  border-radius:20%;
  box-shadow:2px 2px 0 3px rgb(107, 106, 106);
}

.sm-icons span:hover{
    cursor:pointer;
}

.sm-icons span:active{
    box-shadow:2px 2px 0 1px rgb(107, 106, 106);
}

/*Contact Form*/

#contact-form form h4{
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
    font-weight: bold;
    background: transparent;
    margin-bottom: 2rem;
    margin-top: 1rem;
}


#contact-container{
    display: flex;
    justify-content: center;
    gap:2rem;
    width:100%;

}

#contact-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap:1rem;
    width:40%;

}

#contact-form form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:80%;
    border-radius: 1rem;
    background-image: linear-gradient(30deg,rgba(0, 0, 255, 0.76),rgba(16, 116, 230, 0.74));
    /*border:2px solid rgba(255,255,255,5);
    backdrop-filter: blur(15px);*/
}

#contact-form form div{
    background-color: transparent;
    border-bottom: 2px solid white;
    position: relative;
    height:2rem;
    width: 70%;
    margin-bottom: 2rem;
}

#contact-form form div input{
   background: transparent;
   border:none;
   font-size: large;
   color:white;
    width:100%;
    height:100%;
}

#contact-form form div input:focus{
    outline: none;
    box-shadow: none;
}

#contact-form form div input:focus~label{
    top:-10px;
    transition: 0.4s ease;
    color:white;
}

#contact-form form div label{
    background-color: transparent;
    position: absolute;
    top:50%;
    left:5px;
    transform: translateY(-50%);
    color:rgb(192, 190, 190);
    font-size: larger;
}



#contact-form select{
    margin-top: 1rem;
    width:70%;
    height:3rem;
}

#contact-form select option{
    font-weight: bold;
    color:#293553;
    font-size: medium;
}

#contact-form select option:first-child{
  color:#7e7c7c
}

#contact-form button{
    margin-top: 2rem;
    
    padding:0.7rem;
    color:white;
    font-weight: bolder;
    font-size: large;
    border-radius: 1rem;
    border: none;
    margin-bottom: 1rem;
    
    background-image: linear-gradient(50deg, rgb(4, 77, 4),rgb(6, 190, 6),rgb(4, 77, 4),rgb(6, 190, 6),rgb(4, 77, 4),rgb(6, 190, 6),rgb(4, 77, 4));
    transition: 0.3s ease;
    box-shadow: 1px 1px 12px 1px green;
}

#contact-form button:hover{
    box-shadow: 2px 2px 12px 4px green;
    background-image: linear-gradient(50deg, rgb(4, 77, 4),rgb(6, 190, 6),rgb(4, 77, 4));
}


                           /*Contact Ending*/