*{
margin: 0;
padding: 0;
box-sizing: border-box;
background-color: #080808;
}


                            /*Navbar Starting*/


#nav-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: white;
    box-shadow: 2px 2px 10px 2px #7e7c7c , -5px -5px 10px -5px #7e7c7c;
}

#logo{
width: 10%;
height: 10%;
}

#nav-links{
    list-style: none;
    display: flex;
    gap: 2rem;
    margin-top:3rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:bolder;
    font-size:larger;
}


#nav-links li:hover{
    color:aqua;
    cursor: pointer;
}

#login-btn{
   margin-top:2rem;
   margin-bottom:4rem;
   margin-right: 4rem; 
   padding: 0.7rem;
   background-color: white;
   font-family:Arial, Helvetica, sans-serif;
   color: rgb(2, 2, 165);
   font-weight: bolder;
   border-radius: 0.4rem;
}

#login-btn:hover{
   background-image: linear-gradient(rgb(169, 169, 172), rgb(40, 41, 41));
   cursor: pointer;
   color:aqua;
   transition:0.2s;
}

                              /*Navbar Ending*/



                              /*Hero Starting*/
#hero-container{
    width: 100%;
    margin-top: 1rem;
    display:flex;
    overflow: hidden;
}

#hero-wrapper{
    display:flex;
    width: 100%;
    animation:hero-slide 36s linear infinite;
}

@keyframes hero-slide{
    0%{
        transform: translateX(0%);
    }
    8%{
        transform: translateX(0%);
    }
    18%{
        transform: translateX(-100%);
    }
    27%{
        transform: translateX(-100%);
    }
    36%{
        transform: translateX(-200%);
    }
    45%{
        transform: translateX(-200%);
    }
    54%{
        transform: translateX(-300%);
    }
    63%{
        transform: translateX(-300%);
    }
    72%{
        transform: translateX(-400%);
    }
    81%{
        transform: translateX(-400%);
    }
    90%{
        transform: translateX(-500%);
    }
    100%{
        transform: translateX(-500%);
    }
}

.hero-pic{
    width: 100%;
}


                              /*Hero Ending*/


                            /*Calculator Starting*/


#calculator-container{
    margin-top: 1rem;
    width: 100%;
    box-shadow: 2px 0 0 0 #7e7c7c , -5px -5px 10px -5px #7e7c7c;
    text-align: center;
}

#calculator-container hr{
opacity: 0;
}

#calculator-box{
    width: 25%;
    background-color: #20293E;
    margin: auto;
    height:25rem;
    border-radius: 0.4rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
    box-shadow: 1.5px 1.5px 4px 4px #293553;
    /*position:relative;
   z-index:0;*/
}

/*#calculator-box::after{
    content:"";
    position:absolute;
    height:100%;
    width: 100%;
    background-color: red;
    top:50%;
    left:50%;
    translate: -50% -50%;
   z-index: -1;
  
}*/

#calculator-box h1{
    color:rgb(3, 142, 197);
    background-color:transparent;
    margin-bottom: 1.5rem;
    font-weight:bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#calculator-box form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;
    width: 20%;
    margin: auto;
    background-color: transparent;
}

#calculator-box form div{
    display: flex;
    justify-content: space-between;
    gap:1rem;
    background-color: transparent;
}

#calculator-box input, select,option{
    padding: 0.5rem;
    border-radius: 0.4rem;
    border: none;
   background-color:white;
}

input:hover, select:hover,button:hover{
    cursor: pointer;
}


#calculator-box input{
    background-color: #0D1729;
    box-shadow: inset 1px 1px 3px 3px #081329;
    color:white;
}

#calculator-box label{
    background-color: transparent;
    color:white;
    font-weight: bold;
}

#calculator-box button{
    padding: 0.5rem;
    border-radius: 0.4rem;
    height:2.5rem;
    width:8rem;
    border: none;
    overflow: hidden;
    background-color: rgb(230, 227, 227);
    font-weight: bolder;
    position:relative;
    z-index:1;
    box-shadow: 1px 1px 3px #c5c5c5,
    -1px -1px 6px #ffffff;
}

#calculator-box button::before{
content:"";
width:0;
height:2.5rem;
border-radius: 0.4rem;;
position: absolute;
top:0;
left:0;
background-image:linear-gradient(to right,green 0%,rgb(4, 206, 4) 100%);
transition:0.5s ease;
display:block;
z-index:-1;
}

#calculator-box button:hover::before{
    width:100%;
}

/*info display section*/

#display-bmi{
    margin-top: 3rem;
    color:white;
    font-size:xx-large;
}

#display-bmi span{
    font-size:large;
    color:rgb(243, 132, 5);
    margin-left:3px;
}


#diet-cards{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap:3rem;
}

.card-infos{
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    gap:5px;

}

.card-infos div{
    margin-left:5px;
    margin-right:5px;
    margin-top: 0.3rem;
    display: flex;
    justify-content: space-around;
    gap:8px;
}

.card-infos div span,.card-infos div,.card-infos, h3{
    background-color: transparent;
}

#left-card,#right-card{
 background-color: rgb(32, 32, 32);
 box-shadow:2px 2px 6px 5px rgb(61, 60, 60);
 border-radius: 0.5rem;
}


                            /*Calculator Ending*/