*{
margin: 0;
padding: 0;
box-sizing: border-box;
background-color: #080808;
}


/*Border Color Changing Animation*/
@keyframes border-colors{
  0%{
    border-color:white;
  }
  12.5%{
    border-color:rgb(238, 20, 20)
  }
  25%{
    border-color:rgb(250, 182, 193)
  }
  37.5%{
    border-color:aqua
  }
  50%{
    border-color:rgb(218, 76, 218);
  }
  62.5%{
    border-color:aliceblue;
  }
  75%{
   border-color:rgb(236, 236, 61);
  }
  87.5%{
    border-color:rgb(230, 161, 34);
  }
  100%{
   border-color:rgb(19, 247, 19);
  }
}

                            /*Navbar Starting*/


#nav-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    
    color: white;
    box-shadow: 2px 2px 10px 2px #7e7c7c , -5px -5px 10px -5px #7e7c7c;
}

#logo{
width: 10%;
height: 10%;
background: transparent;
}

#nav-links{
    list-style: none;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:bolder;
    font-size:larger;
    height:3rem;
    width:48%;
    background-color: rgb(20, 20, 20);
    box-shadow: inset 1.5px 1.5px 8px 3px rgb(8, 0, 0);
    border-radius: 1rem;
}

#nav-links li{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding:0.3rem;
    border-radius: 1rem;
    width:5.5rem;
    background-color: transparent;
}

.active-tab{
   color:aqua;
   width:5.5rem;
   padding:0.5rem;
   border-radius: 1rem;
   background-image: linear-gradient(180deg,#6d065a,#ff00ff,#ff00ff,#6d065a);
   box-shadow: 1px 1px 2px 2px rgb(39, 39, 39);
}

#nav-links li:hover{
    transition: 0.3s;
    width:5.5rem;
    color:aqua;
    cursor: pointer;
    padding:0.3rem;
    border-radius: 1rem;
    background-color: #570448;
}

#login-btn{
   margin-top:3rem;
   margin-bottom:3rem;
   margin-right: 4rem; 
   padding: 0.7rem;
   background-color: white;
   font-family:Arial, Helvetica, sans-serif;
   color: rgb(2, 2, 165);
   font-weight: bolder;
   border-radius: 0.4rem;
}

#login-btn:hover{
   background-image: linear-gradient(rgb(169, 169, 172), rgb(40, 41, 41));
   cursor: pointer;
   color:aqua;
   transition:0.2s;
}


/*Tab Content transition Animation*/

#content-container{
transition: opacity 0.5s ease, transform 0.5s ease ;
}

.page-show{
 animation:slide-in 0.5s linear;
}

.page-hide{
 animation:slide-out 0.5s linear;
}

@keyframes slide-in{
    from{
        opacity: 0;
        transform: translateX(40%);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slide-out{
    from{
        opacity: 1;
        transform: translateX(0);
    }
    to{
        opacity: 0;
        transform: translateX(-40%);
    }
}

/*Floating Calculator Button*/
#calculator-btn{
    position: absolute;
    background-image: linear-gradient(180deg,#6d065a,#ff00ff,#ff00ff,#6d065a);
    padding:0.5rem;
    text-align: center;
    border-radius: 1rem;
    top:15%;
    left:28.4%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:bolder;
    font-size:larger;
    clip-path: polygon(
    0% 20%,
    0% 100%,
    100% 100%,
    100% 20%,
    92% 12%,
    60% 12%,
    50% 0%, 
    40% 12%,
    8% 12%
);
    /*effect*/
opacity:1;
transform: translateY(0);
transition: all 2s ease;
@starting-style{
opacity: 0.3;
transform: translateY(-100%);
}
}

#calculator-btn:hover{
    transition: 0.3s;
    color:aqua;
    cursor: pointer;
}


                              /*Navbar Ending*/



                              /*Hero Starting*/
#hero-container{
    width: 100%;
    margin:auto;
    margin-top: 1rem;
    display:flex;
    overflow: hidden;
}

#hero-wrapper{
    display:flex;
    width:100%;
    animation:hero-slide 36s linear infinite;
     outline:red solid 2px;
}

@keyframes hero-slide{
    0%{
        transform: translateX(0%);
    }
    8%{
        transform: translateX(0%);
    }
    18%{
        transform: translateX(-100%);
    }
    27%{
        transform: translateX(-100%);
    }
    36%{
        transform: translateX(-200%);
    }
    45%{
        transform: translateX(-200%);
    }
    54%{
        transform: translateX(-300%);
    }
    63%{
        transform: translateX(-300%);
    }
    72%{
        transform: translateX(-400%);
    }
    81%{
        transform: translateX(-400%);
    }
    90%{
        transform: translateX(-500%);
    }
    100%{
        transform: translateX(-500%);
    }
}

.hero-pic{
    width: 100%;
}


                              /*Hero Ending*/


                            /*Calculator Starting*/


#calculator-container{
    margin-top: 1rem;
    width: 100%;
    box-shadow: 2px 0 0 0 #7e7c7c , -5px -5px 10px -5px #7e7c7c;
    text-align: center;
}

#calculator-container hr{
opacity: 0;
}

#calculator-box{
    width: 25%;
    background:transparent;
    backdrop-filter: blur(8px);
    margin: auto;
    height:27rem;
    border-radius: 1rem;
    border:3px solid white;
    margin-top: 3rem;
    margin-bottom: 25rem;
    padding:1rem;
    animation:border-colors infinite 10s;
    /*box-shadow: 1.5px 1.5px 15px 4px white, -1.5px -1.5px 15px 4px;*/
    /*position:relative;
   z-index:0;*/
}

/*#calculator-box::after{
    content:"";
    position:absolute;
    height:100%;
    width: 100%;
    background-color: red;
    top:50%;
    left:50%;
    translate: -50% -50%;
   z-index: -1;
  
}*/

#calculator-box h1{
    color:white;
    background-color:transparent;
    margin-bottom: 1.5rem;
    font-weight:bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#calculator-box form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;
    width: 20%;
    margin: auto;
    background-color: transparent;
}

#calculator-box form div{
    display: flex;
    justify-content: space-between;
    gap:1rem;
    background-color: transparent;
}

#calculator-box input, select,option{
    padding: 0.5rem;
    border-radius: 0.4rem;
    border: none;
   background-color:white;
}

input:hover, select:hover,button:hover{
    cursor: pointer;
}


#calculator-box input{
    background-color: #0D1729;
    box-shadow: inset 1px 1px 3px 3px #081329;
    color:white;
    border: none;
    outline: none;
}

#calculator-box label{
    background-color: transparent;
    color:white;
    font-weight: bold;
}

#calculator-box button{
    padding: 0.5rem;
    border-radius: 0.4rem;
    height:2.5rem;
    width:8rem;
    border: none;
    overflow: hidden;
    background-color: rgb(230, 227, 227);
    font-weight: bolder;
    position:relative;
    z-index:1;
    box-shadow: 1px 1px 3px #c5c5c5,
    -1px -1px 6px #ffffff;
    margin-top: 1rem;
}

#calculator-box button::before{
content:"";
width:0;
height:2.5rem;
border-radius: 0.4rem;;
position: absolute;
top:0;
left:0;
background-image:linear-gradient(to right,green 0%,rgb(4, 206, 4) 100%);
transition:0.5s ease;
display:block;
z-index:-1;
}

#calculator-box button:hover::before{
    width:100%;
}

/*info display section*/

#display-bmi{
    margin-top: 3rem;
    color:white;
    font-size:xx-large;
    background: transparent;
    text-align: center;
}

.show-box{
background-color: #0808088c;
}

#display-bmi span{
    font-size:large;
    color:rgb(243, 132, 5);
    margin-left:3px;
  background: transparent;
}


#diet-cards{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap:3rem;
   background: transparent;
}

.card-infos{
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    gap:5px;
}

.card-infos div{
    margin-left:5px;
    margin-right:5px;
    margin-top: 0.3rem;
    display: flex;
    justify-content: space-around;
    gap:8px;

}

.card-infos div span,.card-infos div,.card-infos, h3,sup{
background: transparent;
}

#left-card,#right-card{
 box-shadow:1px 1px 9px 3px white;
 border-radius: 0.5rem;
 background-color: #08080871;
 padding:1rem;
 /*effect*/
 scale:1;
 transition: all 1s ease;
@starting-style{
 scale:0;
}
}

/*Calculator Page Entry Animation*/
.calculator-animation{
   animation:appear linear;
   animation-timeline: view();
   animation-range: entry 0 cover 30%;
}

@keyframes appear{
    from{
        scale:0;
        transform:translateY(100%);
    }
    to{
        scale:1;
        transform:translateY(0);
    }
}


                            /*Calculator Ending*/


                            /*Reviews Starting*/


#review-head{
    margin-top: 0.9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#upper-text{
    margin-bottom: -5rem;
    z-index:0;
    background: transparent;
}

#lower-text{
     margin-top: -5rem;
    background: transparent;
}


#review-head span{
    background-image: linear-gradient(to right,rgb(209, 209, 5),rgb(230, 227, 227));
    background-clip: text;
    -webkit-background-clip: text;
    color:transparent;
    font-size: 2rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;

}

#review-head img{
    width:20%;
    background: transparent;
}



/*review cards*/
#review-container{
    margin-top: 1rem;
}   

#card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:2rem;
    /*effect*/
    transform: translateY(0);
    opacity: 1;
    transition: all 2s ease-in-out;
    @starting-style{
        transform: translateY(100%);
        opacity: 0.7;
    }
}

.card{
    background:transparent;
    backdrop-filter: blur(8px);
    text-align: center;
    width:30%;
    border-radius: 1rem;
    box-shadow: 1px 1px 3px 2px rgb(165, 164, 164);
    transition: 0.4 ease;
}

.card:hover{
cursor: text;
box-shadow: 1px 1px 3px 4px rgb(165, 164, 164);
}

.card img{
    background-image:linear-gradient(to right, rgb(145, 124, 5), rgb(226, 226, 87),rgb(197, 168, 3));
    border-radius: 50%;
    border:0.3rem solid white;
    animation:infinite border-colors 10s;
}

.card h5, .card p{
    background-color: transparent;  
}

.card h5{
    color:white;
    font-size: larger;
    font-weight: bolder;
    font-family:'Times New Roman', Times, serif;
}

.card p{
    color:rgb(206, 205, 205);
    font-weight: 800;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


                            /*Reviews Ending*/


                            /*Plan Starting*/


#plan-head{
    margin-top: 1rem;
    text-align: center;
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
}       

#plan-head h3{
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    border: 2px solid white;
    width:13%;
    padding:0.2rem;
    border-radius: 9999px;
    margin-bottom: 0.5rem;
    animation: border-colors 15s linear infinite;
}


#plan-head p{
    font-size: 3rem;
    font-weight: 800;
    color:rgb(206, 203, 203);
    margin-bottom: 0.5rem;
    /*effect*/
    transform: translateX(0);
    scale:1;
    transition: all 2s ease;
    @starting-style{
        transform: translateX(-100%);
        scale:0.6;
    }
}

/*membership cards*/
#plan-container{
    margin-top: 2rem;
    margin-bottom: 4rem;
   
}

#card-container{
    display: flex;
    justify-content: center;
    gap:2rem;
    background-color: transparent;
    /*outline: 2px solid red;*/
       /*effect*/
    opacity:1;
    transform: translateY(0);
    transition: all 3s ease;
    @starting-style{
        opacity: 0.3;
        transform: translateY(100%);
    }
}

.plan-card{
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:1rem;
    gap:0.7rem;
    border-radius: 1rem;
    box-shadow: 2px 2px 12px 3px rgb(196, 186, 174);
    transition: 0.4s ease;
}

.plan-card:hover{
    margin-top: -2rem;
    margin-bottom: 2rem;
    box-shadow: 2px 2px 12px 1px rgb(196, 186, 174);
}

.plan-card h4, .plan-card p, .plan-card div, .plan-card span{
    background-color: transparent;
}

.plan-card h4{
    font-size: x-large;
    font-weight:bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.plan-card p span{
    color:rgb(25, 150, 199);
    font-size: 3rem;
    font-weight: bolder;
}


.plan-card p{
    font-weight:bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.plan-card p:first-of-type{
    font-weight: bold;
    font-size:large;
    margin-bottom: 2rem;
}

.plan-card div{
    margin-top: 2rem;
    color:rgb(80, 79, 79);
    font-weight: bold;
    text-align: center;
}

#trial-btn{
    color: white;
    background-color: #080808;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding:0.5rem;
    border-radius:9999px;
}

#trial-btn:hover{
    background-color: orangered;
    color:aqua;
    cursor: pointer;
    transition: 0.2s;
}


                            /*Plan Ending*/


                           /*Contact Starting*/
                       
     
/*Contact Head*/                           
#contact-heading-container{
    width:100%;
    text-align:center;
    display:flex;
    justify-content:center;
    margin-top: 1rem;
}                          

#contact-heading{
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color:rgb(212, 209, 209);
    border: 2px solid white;
    width:11%;
    padding:0.2rem;
    border-radius: 9999px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    animation: border-colors 15s linear infinite;
}


/*FAQ Section*/
#faq-section div button, #faq-section div button span{
    background-color: white;
}

#faq-section{
    width:60%;
    background: transparent;
    margin-top: 3rem;
    margin-bottom: 3rem;
}



#faq-section div:not(.sm-icons){ /*excluding sm-icons div*/
    display: flex;
    flex-direction: column;
    gap:3px;
    width:100%;
    margin-left: 2rem;
    background: transparent;
        opacity: 1;
    transform:translateX(0);
    transition: all 2s ease;
    @starting-style{
        opacity:0;
        transform:translateX(100%)
    }
}

#faq-section div button{
    padding:0.6rem;
    border-radius: 0.8rem;
    display: flex;
    justify-content: space-between;
    font-weight: bolder;
    font-size: medium;
    width:85%;
}

#faq-section div button:hover{
    background-color: #d3d2d2;
    transition: 0.2s;
}

#faq-section div p{
    text-align: center;
    font-weight: bold;
    background-color: #080808;
    color: white;
    width:80%;
    line-height: 1.2rem;
    margin-bottom: 0.5rem;
    background: transparent;
    backdrop-filter: blur(15px);
}


/*Social Media Icons*/
#faq-section h5{
    color:white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:bolder;
    font-size:xx-large;
    text-align:center;
    margin-top:3rem;
    background: transparent;
    backdrop-filter: blur(12px);
}

.sm-icons img{
  width:100%;
  height:100%;
  object-fit:contain;
  border-radius:20%;
  background:transparent;

}

.sm-icons{
margin-top:2rem;
display:flex;
align-items:center;
justify-content:center;
gap:5rem;
height:3rem;
width:90%;
margin-left:2rem;
background: transparent;
}

.sm-icons span{
  width:2.5rem;
  height:2.5rem;
  background-image:linear-gradient(30deg, white,rgb(172, 168, 168),white);
  border-radius:20%;
  box-shadow:2px 2px 0 3px rgb(107, 106, 106);
}

.sm-icons span:hover{
    cursor:pointer;
}

.sm-icons span:active{
    box-shadow:2px 2px 0 1px rgb(107, 106, 106);
}

/*Contact Form*/

#contact-form form h4{
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
    font-weight: bold;
    background: transparent;
    margin-bottom: 2rem;
    margin-top: 1rem;
}


#contact-container{
    display: flex;
    justify-content: center;
    gap:2rem;
    width:100%;
}

#contact-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap:1rem;
    width:40%;
    background: transparent;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

#contact-form form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:80%;
    border-radius: 1rem;
    background:transparent;
    backdrop-filter: blur(8px);
    /*effect*/

    transform: translateY(0);
    transition: all 2s ease;
    @starting-style{
        transform: translateY(100%);
    }
    /*border:2px solid rgba(255,255,255,5);
    backdrop-filter: blur(15px);*/
}

#contact-form form div{
    background-color: transparent;
    border-bottom: 2px solid white;
    position: relative;
    height:2rem;
    width: 70%;
    margin-bottom: 2rem;
    /*effect*/
    opacity: 1;
    scale:1;
    transform: translateY(0);
    transition: all 2s ease;
    @starting-style{
        opacity: 0;
        scale:0;
        transform: translateY(100%);
    }
}

#contact-form form div input{
   background: transparent;
   border:none;
   font-size: large;
   color:white;
    width:100%;
    height:100%;
}

#contact-form form div input:focus{
    outline: none;
    box-shadow: none;
}

#contact-form form div input:focus~label{
    top:-10px;
    transition: 0.4s ease;
    color:white;
}

#contact-form form div label{
    background-color: transparent;
    position: absolute;
    top:50%;
    left:5px;
    transform: translateY(-50%);
    color:rgb(192, 190, 190);
    font-size: larger;
}



#contact-form select{
    margin-top: 1rem;
    width:70%;
    height:3rem;
    /*effect*/
    opacity: 1;
    scale:1;
    transform: translateY(0);
    transition: all 2s ease;
    @starting-style{
        opacity: 0;
        scale:0;
        transform: translateY(100%);
    }
}

#contact-form select option{
    font-weight: bold;
    color:#293553;
    font-size: medium;
}

#contact-form select option:first-child{
  color:#7e7c7c
}

#contact-form button{
    margin-top: 2rem;
    padding:0.7rem;
    color:white;
    font-weight: bolder;
    font-size: large;
    border-radius: 1rem;
    border: none;
    margin-bottom: 1rem;
    background-image: linear-gradient(50deg, rgb(4, 77, 4),rgb(6, 190, 6),rgb(4, 77, 4),rgb(6, 190, 6),rgb(4, 77, 4),rgb(6, 190, 6),rgb(4, 77, 4));
    transition: 0.3s ease;
    box-shadow: 1px 1px 12px 1px green;
    /*effect*/
    opacity: 1;
    scale:1;
    transform: translateY(0);
    transition: all 2s ease;
    @starting-style{
        opacity: 0;
        scale:0;
        transform: translateY(100%);
    }
}

#contact-form button:hover{
    box-shadow: 2px 2px 12px 4px green;
    background-image: linear-gradient(50deg, rgb(4, 77, 4),rgb(6, 190, 6),rgb(4, 77, 4));
}

/*Social Media icon Scroll Animation Animation*/
/*heading animation*/
.sih-animation{
    animation: fading-in linear;
    animation-timeline: view();
    animation-range: entry 0 cover 30%;
}
@keyframes fading-in{
    from{
        opacity: 0;
        scale:0.6;
        transform: translateX(-40%);
    }
    to{
        opacity: 1;
        scale:1;
        transform:translateX(0);
    }
}

/*buttons animation*/
.si-animation{
    animation:poping-up linear;
    animation-timeline: view();
    animation-range: entry 0 cover 30%;
}
@keyframes poping-up{
    from{
        scale:0;
    }
    to{
        scale:100%;
    }
}


                           /*Contact Ending*/


                           /*Footer Starting*/


#footer-container{
    margin-top:2rem;
    color:white;
    text-align:center;
    display:flex;
    width:100%;
    justify-content:space-evenly;
    background-image:linear-gradient(to right,#C8102E,#c24055,#C8102E,#c24055,#C8102E,#c24055,#C8102E);
    padding-top:2rem;
}    

#footer-container div{
    background:transparent;
}

#footer-container h3{
  color:#bdb8b8;
  margin-bottom:0.5rem;
  background:transparent;
}

#footer-container p, #footer-container a{
    color:white;
    margin-bottom:0.5rem;
    text-decoration:none;
    background:transparent;
}

#footer-container p:hover,#footer-container a:hover{
    cursor:pointer;
    text-decoration:underline;
}

#copyright{
    color:white;
    background-color:rgb(4, 4, 82);
    text-align:center;
    padding:0.5rem;
}


                           /*Footer Ending*/




                           /*Exercise Starting*/

/*Exercise Head*/
#exercise-heading{
    text-align: center;
    color:white;
    font-size: 2rem;
    font-weight: bolder;
    margin-bottom: 1rem;
}

#exercise-head{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

#exercise-head img{
    width:4%;
    height:4%;
    background:transparent;
    margin-bottom: 1.2rem;
}


#left-hand{
animation:left-flexer 7s infinite linear; 
}

@keyframes left-flexer{

    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(-25deg);
    }
    100%{
        transform: rotate(0deg);
    }

}

#right-hand{
animation:right-flexer 7s infinite linear; 
}

@keyframes right-flexer{

    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(25deg);
    }
    100%{
        transform: rotate(0deg);
    }

}



/*Exercise Tabs*/
#exercise-container{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items:center;
    background: transparent;
;}   

#exerciseIcon-container{
    display:flex;
    justify-content:center;
    gap:1rem;
    margin-top:2rem;
    background: transparent;
        /*effect*/
    opacity: 1;
    transform: translateX(0);
    transition: all 3s ease;
    @starting-style{
    opacity:0.7;
    transform: translateX(-100%);
    }
}

#exerciseIcon-container img{
    width:10%;
    height:10%;
    background:transparent;
}

#exerciseIcon-container img:hover{
    transition: 0.3s ease;
    cursor: pointer;
    background-color: rgb(26, 39, 26);
    border-radius: 20%;
    box-shadow: inset 3px 3px 14px 4px gray;
}



/*workout section*/
#workouts-container img{
  width:100%;
  object-fit: contain;
  box-shadow: 2px 2px 12px 5px gray;
  background: transparent;
}

#workouts-container{
    width:100%;
    margin-top:4rem;
    margin-bottom: 3rem;
    text-align:center;
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap:2rem;
    background: transparent;
    backdrop-filter: blur(5px);
}

.workout-cards{
    color:white;
    width:30%;
    transition: 0.4s ease;
    background: transparent;
}

.workout-cards h3{
    margin-bottom: 1rem;
    background: transparent;
}

.workout-cards:hover{
    color:aqua;
    width:35%;
    margin-bottom:2rem;
    margin-top:-2rem;
}


                           /*Exercise Ending*/














































































































/*----------------------------------RESPONSIVE DESIGN START-------------------------------------*/




